button {
  margin-left: 4px;
  box-shadow: 2px 1000px 1px #fff inset;
  border: solid 2px transparent;
  border-radius: 10%;
  width: 32px;
  height: 32px;
  background-image: linear-gradient(101deg, #e01a1a, #e617c3);
  background-origin: border-box;
  cursor: pointer;
  font-size: 100%;
  text-align: center;
  color: black;
}
